* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 40%;
    margin: 20px;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background-color: #ffffff; 
    color: blue;
}

.main {
    padding: 20px;
    display: flex;
}

.div-h1 {
    margin: 20px 0 0 0;
}
