.box {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    padding: 20px;
    border: 10px dashed blue;
    box-sizing: border-box; /* inclui padding e border no tamanho total */
}

.box2 {
    box-sizing: content-box; /* padrão, inclui apenas o conteúdo no tamanho */
    background: black;
    color: white;
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 10px solid red;
}