@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: oswald, sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}
.container-left {
    display: inline-block;
    width: 60%;
}



.container-right {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}