@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*RESET CSS*/
* {
    font-family: "Roboto", sans-serif;      /* Fonte padrão do projeto */
    margin: 0;      /* Remove margens padrão */
    padding: 0;     /* Remove espaçamentos padrão */
    box-sizing: border-box;     /* Define o modelo de caixa para incluir bordas e preenchimento */
}

.section-header {
    padding: 20px 10px;     /* Espaçamento interno da seção do cabeçalho */
}

.div-header {
    display: inline-flex;       /* Exibe os elementos em linha flexível */
}

.div-logo {
    align-content: center;      /* Alinha o conteúdo ao centro */
    align-items: center;        /* Alinha os itens ao centro */
    padding: 0px 0px 0px 50px;      /* Espaçamento interno do logo */
}   

.logo {
    width: 225px;       /* Largura do logo */
    height: auto;       /* Altura automática para manter a proporção */
}

.div-menu {
    font-size: 18px;
    padding: 0px 20px 0px 0px;
    max-width: 100%;    
    display: flex;            /* Ativa o flexbox no container */
    height: 80px;             /* Defina uma altura para ter espaço de manobra */
    align-items: flex-end;    /* Alinha o conteúdo (o ul) no fundo da div */
    padding-bottom: 10px;     /* Ajuste fino para não encostar totalmente no chão */
}

ul {
    display: inline-flex;   
    list-style-type: none;
    font-size: 18px;
    color: #363333;
    gap: 20px;
    margin-left: 200px;
    cursor: pointer;
    font-weight: 400;
}

.nav-menu {
    position: relative; /* Necessário para ancorar a linha */
    display: inline-block;
    padding: 0px 15px 10px 15px; /* Aumentei o bottom para dar espaço ao movimento */
    color: #333;        
    text-decoration: none;
    transition: color 0.3s ease;
    overflow: hidden; /* Garante que a linha venha "de dentro" do elemento */
}

/* Criando a linha invisível acima da posição final */
.nav-menu::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; /* Posição final */
    width: 100%;
    height: 3px;
    background-color: #007aff;        
    transform: translateY(-8px); /*Começa deslocada para cima e invisível */
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.nav-menu:hover {
    color: #007aff;
}

/* No hover, ela desce para a posição original (0) e aparece */
.nav-menu:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.area-cliente {
    color: white;       /*Cor da fonte*/     
    padding: 30px 30px 10px 20px;        
    text-decoration: none;
    align-content: center;
    display: flex;
    gap: 20px;
    border-left: 3px solid #007aff; /* Espessura, Estilo e Cor */
}


.btn-cliente {
    font-size: 18px;     
    color: #363333; 
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block; /* Necessário para que o transform funcione corretamente */
    transition: transform 0.3s ease, color 0.3s ease;  /* Define o que será animado e o tempo (0.3 segundos) */
}

.btn-cliente:hover {
    transform: scale(1.1);     /*Aumentamos a escala em 1.1x (10%) */
    color: #363333; 
}

.btn-fatura {
    background: linear-gradient(90deg, #007aff 0%, #135ba8 100%);
    font-size: 18px;
    color: white;
    border-radius: 25px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 25px;
    text-decoration: none;
    cursor: pointer;
}

.btn-fatura:hover {
    transition: transform 0.5s;
    transform: scale(1.1);    
}


